{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>Chats</title>
{% endblock %}

{% block container %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between gy-1">
            <h5 class="card-title">CHATS</h5>
            <a href="{% url 'chats:list_profiles' %}">
                <button type="button" class="btn btn-outline-primary btn-sm form-control">
                    NEW
                </button>
            </a>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for chat in chats %}
                <a class="list-group-item mb-1 mt-1" href="{% url 'chats:detail' chat.pk%}">
                    <div class="d-flex">
                        {% if chat.user_1 == profile %}

                        {% if chat.user_2.picture %}
                        <div class="flex-shrink-0">
                            <img width="80" height="80" src="{{chat.user_2.picture.url}}">
                        </div>
                        {% else %}
                        <div class="flex-shrink-0">
                            <img width="80" height="80" src="{% static 'img/ann.jpeg' %}">
                        </div>
                        {% endif %}

                        <div class="flex flex-columns ms-5">
                            <strong>{{chat.user_2.user.get_full_name}}</strong>
                            <p>{{chat.messages.last}}</p>

                        </div>

                        {% else %}
                        {% if chat.user_1.picture %}
                        <div class="flex-shrink-0">
                            <img width="80" height="80" src="{{chat.user_1.picture.url}}">
                        </div>
                        {% else %}
                        <div class="flex-shrink-0">
                            <img width="80" height="80" src="{% static 'img/ann.jpeg' %}">
                        </div>
                        {% endif %}
                        <div class="flex flex-columns ms-5">
                            <strong>{{chat.user_1.user.get_full_name}}</strong>
                            <p>{{chat.messages.last}}</p>
                        </div>
                        {% endif %}
                        <div class="flex ms-auto">
                            {{chat.last_message}}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}