<nav class=" navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'chats:chats' %}">djangoChat</a>
        
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{request.user.get_full_name}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'users:update-profile' %}">Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>