{% extends 'base.html' %}

{% block head_content %}
<title>Update Information</title>
{% endblock head_content %}


{% block container %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Update Profile Information</h5>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}

                {{user_form.as_p}}
                {{form.non_field_errors}}
                {{ form.as_p }}
                <hr>
                <button class="btn btn-primary w-100 btn-block mb-3" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock container %}